body {
    font-family: Arial, sans-serif;
    background: url('./img/bg.avif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.6);
    /* Increased transparency */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    /* Slightly more shadow for depth */
    text-align: center;
    max-width: 600px;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

h2 {
    color: #333;
}

.collapsible {
    background-color: #28a745;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.collapsible:hover {
    background-color: #218838;
}

.content {
    padding: 20px;
    display: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Slightly less transparent background */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for content section */
    border-radius: 10px;
    /* Adding border-radius for content */
    margin-bottom: 20px;
    position: relative;
    /* To position the close button */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.form-container {
    margin-bottom: 20px;
    padding: 20px;
    /* Adding padding to the form container */
    background: rgba(255, 255, 255, 0.8);
    /* Slightly less transparent background for form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Shadow for form container */
    border-radius: 10px;
    /* Adding border-radius for form container */
    width: 80%;
    /* Ensure form containers take a good width within the container */
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

input,
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

p {
    font-size: 1.2em;
    color: #333;
}